/* body{
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  line-height: 25px;
} */

.font-gotham {
  font-family: gotham;
  letter-spacing: 1px;
}

.font-gotham-medium {
  font-family: gotham-medium;
  letter-spacing: 1px;
}

h2.heading {
  font-size: 40px;
  margin-bottom: 50px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.text-blue, .text-blue:hover{
  color: #32399D;
}
.panel-title {
  position: relative;
}
.panel-title {
  font-weight: bold;
}
.panel-title::after{
    content: "\2193";
    color: #333;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: 'Glyphicons Halflings';
}