$primary-color:darkblue;
$secondary-color:white;
$color:white;

.discussion{
    width:100%;    
}
.primary{
    border-radius: 20px;
    width: 18%;
    height: 40px;
    color:$primary-color;
}
.description{
    background-color: $primary-color;
    margin-top: -350px;
    color:$color;
    height:350px;
    
    
}
.skill-wrap{
    margin-top: 200px;
}
.contents{
    padding:5px;
    margin-top: 20px;
}
