body {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    
    line-height: 25px;
}

input.form-control {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border:1px solid #32399D;
    
  }
  .form-group{
    color: #32399D;
  }
  .btn-blue, .btn-blue-sm {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 3px solid #32399D;
    padding: 10px 50px;
    font-weight: bold;
    color: #32399D;
    font-family: gotham-medium;
    font-size: 18px;
  }
  .form-control {
    border: 1px solid #32399D;
}