


.form-group{
    padding: 5px 0;
    color: #32399D;
    font-family: 'Kanit', sans-serif;
  font-size: 15px;
}
.options{
    color: #32399D;
    font-family: 'Kanit', sans-serif;
  font-size: 15px;
    
}
@media all and (max-width:500px){
    .form-group{
        margin-left: 15px;
    }
    .options{
        margin-left: 20px;
    }
}